.header{
    grid-area: header;
    padding: 30px 0px; 
    background-color: darkblue

    }

    .titulo-header{
    display: grid;
    text-align: center;
    color: white;
    
    }

    .aside-bar{
    grid-area: menu;
       
    }

    .container-main{
    grid-area: main;
    background-color: lightsteelblue;
    
        }

    .cards{
    display: grid;
    grid-template-columns: auto auto auto;
    }


    .footer{
    grid-area: footer;
    background-color:white;
    text-align: center;
    padding: 10px 0;
    }

    .grid-container{
    display: grid;
    grid-template-areas:
    "header header"
    "menu main"
    "footer footer"; 
    grid-template-columns: 15% auto;
        }

    .aside-bar
        {
    display: flex;
    background-color: lightsteelblue;
    
    }
            
        
    .navbar{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    width: 80%;
        
    }

    .p-art1{
        margin: 3px;
    }

        

    .card {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 19em;
    margin: 10px;
    padding: 0px;
    background-color: white;
    }

                
    .card-texto{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .p-texto{
    margin: 10px;
    }

    .foto-compra{
    width: 15em;
    } 

    .container-boton{
    width: 100%;
    }
    .boton-chat{
    border: solid darkblue;
    background-color: darkblue;
    padding: 0px 124px;
    height: 40px;
    color: white;
        } 
                


    @media only screen and (max-width: 600px) {
    .cards {
    width: 90%;
    }
        }  
        