.header{
    grid-area: header;
    padding: 30px 0px; 
    background-color: darkblue

    }

    .titulo-header{
        display: grid;
        justify-items: center;
        align-items: center;
        color: white;
     
    }

    .aside-bar{
    grid-area: menu;
       
    }

    .container-main{
    grid-area: main;
    background-color: lightsteelblue;
    grid-template-columns: 1fr 1fr 1fr;
        }

    .footer{
    grid-area: footer;
    background-color: #66f;
    }

    .grid-container{
        display: grid;
        grid-template-areas:
        "header header"
        "menu main"
        "footer footer"; 
        grid-template-columns: 15% auto;
         }

        .aside-bar
            {
            display: flex;
            background-color: lightsteelblue;
            
            }
            
        
        .navbar{
            display: flex;
            align-items:flex-start;
            flex-direction: column;
            width: 0em;
            min-height: 100vh;
            
        }

        .cards{
            display: flex;
            }

            .card {
            display: flex;
            flex-direction: column;
            width: 20em;
            border: solid 1px;
            margin: 5px;
           padding: 5px;
           background-color: white;
            }

            .card-body {
            flex-grow: 1;
            flex-basis: 0;
            }
            
            .foto-kingdom{
                width: 15em;
            } 

             .foto-phantom{
                width: 15em;
            }
            
            .foto-shoes01{
                width: 15em;
            }
            .foto-hoodie01{
                width: 15em;
            }